Package: apprun
Version: 3.1.2-pre1
Section: misc
Priority: optional
Architecture: all
Maintainer: LKS410
Depends: python3, python3-venv, python3-inotify, python3-pyinotify, python3-packaging, curl, squashfs-tools, squashfuse, fuse, imagemagick, zenity, libnotify-bin
Description: -
