[Unit]
Description=AppRun DropIn Service
After=graphical.target systemd-user-sessions.service

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/usr/bin/apprun.sh /usr/lib/AppRun/apprundropin.apprun --backend inotify-experimental

[Install]
WantedBy=graphical.target
